<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= foundStudent.name%>的頁面</title>
  </head>
  <body>
    <table>
      <tr>
        <td>學生ID</td>
        <td><%= foundStudent.id%></td>
      </tr>
      <tr>
        <td>名稱</td>
        <td><%= foundStudent.name%></td>
      </tr>
      <tr>
        <td>年齡</td>
        <td><%= foundStudent.age%></td>
      </tr>
      <tr>
        <td>主修</td>
        <td><%= foundStudent.major%></td>
      </tr>
      <tr>
        <td>獎學金</td>
        <td><%= foundStudent.scholarship.merit%></td>
      </tr>
      <tr>
        <td>其他獎學金</td>
        <td><%= foundStudent.scholarship.other%></td>
      </tr>
    </table>
    <div><a href="/students">回到首頁</a></div>
    <div><a href="/students/<%= foundStudent._id%>/edit">編輯學生資料</a></div>
    <div>
      <form
        action="/students/<%= foundStudent._id %>?_method=DELETE"
        method="POST"
      >
        <button>刪除學生資料</button>
      </form>
    </div>
  </body>
</html>
